*{
    margin: 0;
    padding: 0;
    font-family: "Poppins";
}
body{
    background-color: #FFFFFF;
    color: #0e1217;
}
ul{
    list-style: none;
}
a{
    color: #0e1217;
    text-decoration: none;
    opacity: 0.7;
    transition: .3s;
}
a:hover{
    opacity: 1;
}
p{
    color: #5f616b;
}